{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'overview' %}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'income' %}">Income</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Income Summary</li>
                    </ol>
                </nav>
            </div>

            <div class="col-md-3">
                <a href="{% url 'overview' %}" class="btn btn-primary">Home</a>
            </div>
        </div>
    </div>  


    <div class="container">
        {% include 'partials/_messages.html'%}

    </div>
    <div>
        <canvas id="myChart" height="600" width="600"></canvas>
    </div>
        
<script src="{% static 'js/incomeStats.js' %}"></script>

{% endblock %}

