.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.showPasswordToggle {
  cursor: pointer;
  transition: all;
}

.showPasswordToggle:hover {
  transform: scale(1.2);
}

.export {
  margin-right: 5%
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter:invert(100%);
}

.carousel-indicators > li {
  border: solid 1px lightgrey;
  background-color: black;
}

.carousel-item {
  height: 80%
}

#carouselExampleIndicators {
  display: flex;
}
